<h1>Create Project</h1>

<%= form_with model: @project do |form| %>


  <div>
  <%= form.label :image %>
  <%= form.file_field :image, accept: "image/png,image/jpeg" %>
</div>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= label_tag "project[qa_user_ids][]", "Select QA" %><br>
    <%= select_tag "project[qa_user_ids][]",
          options_from_collection_for_select(@qas, :id, :name)%>
  </div>

  <div>
    <%= label_tag "project[developer_user_ids][]", "Select Developers" %><br>
    <%= select_tag "project[developer_user_ids][]",
          options_from_collection_for_select(@developers, :id, :name) %>
  </div>

  <div>
    <%= form.submit "Create Project" %>
  </div>

<% end %>