<div class="page-container">
  <div class="page-header">
    <div>
      <p class="page-label">Projects</p>
      <h1 class="page-title">Create Project</h1>
      <p class="page-description">Add a new project and assign QA and developers.</p>
    </div>
  </div>

  <div class="form-card">
    <%= form_with model: @project, local: true do |form| %>
      <div class="form-row">
        <%= form.label :image, class: "field-label" %>
        <%= form.file_field :image, accept: "image/png,image/jpeg", class: "input-field" %>
      </div>

      <div class="form-row">
        <%= form.label :name, class: "field-label" %>
        <%= form.text_field :name, class: "input-field" %>
      </div>

      <div class="form-row">
        <%= form.label :description, class: "field-label" %>
        <%= form.text_area :description, class: "input-field", rows: 4 %>
      </div>

<% @qas.each do |qa| %>
  <div>
    <%= check_box_tag "project[qa_user_ids][]", qa.id %>
    <%= label_tag "project_qa_#{qa.id}", qa.name %>
  </div>
<% end %>

<h4>Select Developers</h4>

<% @developers.each do |developer| %>
  <div>
    <%= check_box_tag "project[developer_user_ids][]", developer.id %>
    <%= label_tag "project_developer_#{developer.id}", developer.name %>
  </div>
<% end %>

      <div class="actions-row">
        <%= form.submit "Create Project", class: "button button-primary" %>
        <%= link_to "Cancel", projects_path, class: "button button-secondary" %>
      </div>
    <% end %>
  </div>
</div>
