<h1><%= @bug.title %></h1>
<p>Project: <%= @bug.project.name %></p>
<p>Status: <%= @bug.status_label %></p>
<p>Type: <%= @bug.bug_type.titleize %></p>
<p>Developer: <%= @bug.developer.name %></p>
<p>Reporter: <%= @bug.reporter.name %></p>
<p><%= @bug.description %></p>

<%= link_to "Back", bugs_path %>

<% if (current_user.qa? && @bug.reporter_id == current_user.id) || (current_user.developer? && @bug.developer_id == current_user.id) %>
  <%= link_to "Edit", edit_project_bug_path(@project, @bug), class: "button button-primary" %>
<% end %>

<% if can? :destroy, @bug %>
  <%= link_to "Delete", [@project, @bug], method: :delete, data: { confirm: "Are you sure?" }, class: "button button-danger" %>
<% end %>