<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Manage Bug" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Manage Bug">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%# Load auth-only styles on role selection, login, and signup pages %>
    <% if controller_path == 'home' || controller_path == 'devise/sessions' || controller_path == 'devise/registrations' %>
      <%= stylesheet_link_tag "authentication", "data-turbo-track": "reload" %>
    <% end %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= content_for?(:body_class) ? yield(:body_class) : '' %>">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <nav class="topbar">
        <div class="topbar-left">
          <div class="topbar-brand">ManageBug</div>
        </div>

        <div class="topbar-center">
          <%= link_to "Projects", projects_path, class: "topbar-link" %>
          <%= link_to "Bug", bugs_path, class: "topbar-link" %>
        </div>

        <div class="topbar-right">
          <%= link_to edit_user_registration_path, class: "topbar-button" do %>
            <span class="topbar-avatar"><%= current_user.name.first.upcase %></span>
            <span class="topbar-button-label">Dev.</span>
          <% end %>
          <%= link_to "Logout", destroy_user_session_path,
                method: :delete,
                data: { turbo_method: :delete },
                class: "topbar-link logout-link" %>
        </div>
      </nav>
    <% end %>

    <%= yield %>
  </body>
</html>